page-tasks-list {

    .monthTitle {
        width: 100%;
        text-align: center;
    }

    .lists {
        height: 90%;
        width: 100%;
    }

    .finalSpace {
        height: 10%;
        width: 100%;
    }

}
