page-calendar {
    .main {
        height: 100%;
        width: 100%;
    }
    .month {
        height: 95%;
        width: 95%;
        margin: 2% 3% 2% 3%;        
        box-shadow: 5px 10px rgb(218, 218, 218);
    }

    .monthHeader {        
        width: 100%;
        height: 10%;
        background: color($colors, primary);
        color: #fff;
    }
    .monthName {
        position: relative;
        float: left;
        width: 80%;
    }
    .yearTitle {
        text-align: center;
    }
    .monthProgress {
        float: right;
    }
    .days {
        width: 100%;
        height: 100%;
        border-color: black;
    }
    .graphic {
        height: 90%;
        width: 100%;
    }
    button {
        height: 100%;
        width: 100%;
    }
    .weekHeader {
        height: 5%;
        width: 100%;
    }
    .buttonDay {
        background: white;   
        font-size: 2rem;     
        color: rgb(108, 108, 108);
    }
    .buttonEmpty {
        background: rgb(245, 245, 245);
    }
}